/******** HERO SECTION ********/
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background: #111827;
  color: white;
  border-radius: 14px;
  margin-bottom: 60px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.hero-image img {
  width: 370px;
  border-radius: 12px;
}

/******** BUTTON ********/
.explore-btn {
  padding: 12px 20px;
  background: #6366f1;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/******** WHY SECTION ********/
.why-section {
  text-align: center;
  padding: 40px;
}

.why-cards {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 20px;
}

.why-card {
  background: #f3f4f6;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
}

/******** TRENDING ********/
.trending-section {
  padding: 40px;
  text-align: center;
}

.trending-grid {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.course-card {
  padding: 18px;
  background: white;
  border-radius: 12px;
  width: 200px;
  border: 1px solid #ddd;
}

/******** MENTORS ********/
.mentors-section {
  padding: 40px;
  text-align: center;
}

.mentors-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.mentor-card {
  background: #f9fafb;
  padding: 20px;
  width: 180px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.mentor-photo {
  width: 100%;
  height: 120px;
  background: #d1d5db;
  border-radius: 10px;
  margin-bottom: 10px;
}

/******** OFFER ********/
.offer-banner {
  text-align: center;
  background: #4f46e5;
  color: white;
  padding: 30px;
  border-radius: 14px;
  margin-top: 60px;
}

.offer-btn {
  margin-top: 10px;
  padding: 10px 18px;
  background: #312e81;
  border: none;
  border-radius: 8px;
  color: white;
}
